* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:cadetblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #000;
}

h1 {
    color: black;
    font-size: 24px;
    margin: 25px 25px 0;
}

h2 {
    font-size: 20px;
    margin: 0 0 25px;
}

h3 {
    font-size: 18px;
    margin: 0 0 25px;
}

#contenedor {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.contenedor__cuerpo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contenedor__cuerpo--cabecera,
.contenedor__cuerpo--contenido,
.contenedor__cuerpo--pie {
    display: block;
    width: 90vw;
    height: auto;
}

.contenedor__cuerpo--cabecera {
    margin: 25px 0 35px;
}

.contenedor__cuerpo--pie {
    margin: 25px 0 10px;
}

/*#form__presup--paso1 {
    display: block;
}*/

#form__presup--paso1,
#form__presup--paso2,
#form__presup--paso3,
#form__presup--paso4 {
    display: none;
}

.form__grupo {
    margin: 0 0 15px;
    height: 67px;
}

.form__grupo--tipo {
    display: block;
    height: auto;
    transition: .5s ease all;
}

#elementos__web {
    height: 0px;
}

#elementos__wp {
    height: 0px;
}

#elementos__web,
#elementos__wp {
    overflow: hidden;
}


#adds {
    margin: 15px 0;
}

#nom,
#emp,
#pa,
#mail,
#tel {
    transition: .5s ease all;
}

#pa2,
#seccionesweb {
    margin: 0;
    height: 0px;
    transition: .5s ease all;
    overflow: hidden;
}

.form__grupo--elemento {
    margin: 7px 0 0;
    height: 35px;
    line-height: 35px;
    width: 70%;
    border-radius: 3px;
    border: 3px solid transparent;
    transition: .3s ease all;
    cursor: pointer;
    padding: 0 5px 0;
}

.form__grupo--elemento:focus {
    border: 3px solid rgb(72, 33, 247);
    transition: .3s ease all;
    outline: none;
}

.form__grupo--error {
    background-color: red;
    width: 71.5%;
    height: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: .5s ease all;
    overflow: hidden;
    margin: 0 auto;
}

.form__btn {
    width: 35%;
    height: 45px;
    background-color: #333;
    color: #fff;
    transition: .3s ease all;
    margin: 15px 0 0;
    border: 3px solid transparent;
}

.form__btn:hover {
    background-color: #999;
    color: #000;
    transition: .3s ease all;
    border: 3px solid #000;
}

.cliente__existente {
    width: 100%;
    height: auto;
}

#cliente__datos--yaexiste,
#cliente__datos--nuevo {
    display: none;
}

.cliente__existente p {
    font-size: 18px;
    margin: 0 auto 25px;
    width: 75%;
}

.cliente__existente--datos {
    width: 100%;
    margin: 25px 0;
    display: block;
}

.cliente__existente--datos ul {
    list-style: none;
    background-color: #333;
    text-align: left;
    width: 35%;
    margin: 0 auto;
}

.cliente__existente--datos ul li {
    display: block;
    color:#000;
    background-color:#ccc;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.cliente__existente--datos ul li:nth-child(odd) {
    background-color: #999;
}

.cliente__existente--confirm {
    width: 100%;
    height: auto;
    display: block;
}

.cliente__confirm--btnbox {
    display: inline-block;
    width: 49%;
}

.cliente__confirm--btn {
    width: 200px;
    border: 3px solid #000;
    background-color: #333;
    color: #ccc;
    margin: 0 auto;
    cursor: pointer;
    padding: 5px;
}

.cliente__confirm--btn:hover {
    border: 3px solid #333;
    background-color: #999;
    color: #000;
    font-weight: 500;
}

.los__datos {
    width: 70%;
    margin: 0 auto;
    background-color: #333;
    height: 0px;
    overflow: hidden;
    transition: .5s ease all;
}

.los__datos h3 {
    display: block;
    color: #ccc;
}

.mostrar__datos ul {
    list-style: none;
}

.mostrar__datos li {
    display: block;
    color: #000;
    background-color: #ccc;
    font-size: 16px;
}

.mostrar__datos li:nth-child(odd) {
    background-color: #999;
}

.tabla__detalle{
    width: 90%;
    margin: 25px auto;
    background-color: #fff;
    font-size: 14px;
    border-collapse: collapse;
}

.tabla__detalle tr,
.tabla__detalle tr td {
    border: 1px solid #333 !important;
    padding: 3px;
}

.tabla__detalle tr:nth-child(odd) {
    background-color: #ccc;
}

.tabla__detalle--titulos {
    background-color: #999 !important;
    font-weight: 600;
}



.tabla__detalle--cant {
    width: 6%;
}

.tabla__detalle--desc {
    width: 66%;
}

.tabla__detalle--vals {
    width: 14%;
}

.tabla__detalle--total {
    width: 88%;
    text-align: right;
    padding-right: 10px;
}

/* .tabla__detalle--celdano {
    
} */

@media only screen and (min-width: 768px){
    .tabla__detalle{
        width: 75%;
    }
}

@media only screen and (min-width: 1024px){
    .tabla__detalle{
        width: 60%;
    }
}