* {
    margin: 0;
    padding: 0;
}

body {
    background-color:cornflowerblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: black;
    font-size: 24px;
    margin: 25px 25px 0;
}

.tabla__detalle{
    width: 90%;
    margin: 25px auto;
    background-color: #fff;
    font-size: 14px;
    border-collapse: collapse;
}

.tabla__detalle tr,
.tabla__detalle tr td {
    border: 1px solid #333 !important;
    padding: 3px;
}

.tabla__detalle tr:nth-child(odd) {
    background-color: #ccc;
}

.tabla__detalle--titulos {
    background-color: #999 !important;
    font-weight: 600;
}



.tabla__detalle--cant {
    width: 6%;
}

.tabla__detalle--desc {
    width: 66%;
}

.tabla__detalle--vals {
    width: 14%;
}

.tabla__detalle--total {
    width: 88%;
    text-align: right;
    padding-right: 10px;
}

/* .tabla__detalle--celdano {
    
} */

@media only screen and (min-width: 768px){
    .tabla__detalle{
        width: 75%;
    }
}

@media only screen and (min-width: 1024px){
    .tabla__detalle{
        width: 60%;
    }
}